################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Galaxy.Customer.Application/bin/Debug/net5.0
/Galaxy.Customer.Application/obj
/Galaxy.Customer.Application.Contarcts/bin/Debug/net5.0
/Galaxy.Customer.Domin/bin/Debug/net5.0
/Galaxy.Customer.Domin/obj
/Galaxy.Customer.EntityFrameworkCore/bin/Debug/net5.0
/Galaxy.Customer.EntityFrameworkCore/obj
/Galaxy.Customer.Web/bin/Debug/net5.0
/Galaxy.Customer.Web/obj
/Galaxy.Order.Application/bin/Debug/net5.0
/Galaxy.Order.Application/obj
/Galaxy.Order.Application.Contarcts/bin/Debug/net5.0
/Galaxy.Order.Application.Contarcts/obj
/Galaxy.Order.Web/bin/Debug/net5.0
/Galaxy.Order.Web/obj
/Galaxy.Product.Application/bin/Debug/net5.0
/Galaxy.Product.Application/obj
/Galaxy.Product.Application.Contarcts/bin/Debug/net5.0
/Galaxy.Product.Application.Contarcts/obj
/Galaxy.Product.DbMigrator/bin/Debug/net5.0
/Galaxy.Product.DbMigrator/obj
/Galaxy.Product.Domin/bin/Debug/net5.0
/Galaxy.Product.Domin/obj
/Galaxy.Product.EntityFrameworkCore/bin/Debug/net5.0
/Galaxy.Product.EntityFrameworkCore/obj
/Galaxy.Product.HttpApi/bin/Debug/net5.0
/Galaxy.Product.HttpApi/obj
/Galaxy.Product.HttpApi.Clinet/bin/Debug/net5.0
/Galaxy.Product.HttpApi.Clinet/obj
/Galaxy.Product.Web/bin/Debug/net5.0
/Galaxy.Product.Web/obj
/Galaxy.Web/bin/Debug/net5.0
/Galaxy.Web/obj
/Galaxy.Product.Web/Properties
/Galaxy.Web/Properties
/Galaxy.Customer.Application.Contarcts/obj
/.vs/Galaxy/v17
/Galaxy.Customer.Web/Properties
/Galaxy.Order.Web/Properties
/.vs/Galaxy/DesignTimeBuild/.dtbcache.v2
/.vs/Galaxy/project-colors.json
